/*
    ametyst: #9b59b6;
    midnightblue: #2c3e50;
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
    font-size: 18px;
}
header{
    min-height:70px;

    background-color: #222;
    color: #fff;
}
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
header .logo{
    margin-left: 15px;
    float: left;
    line-height: 70px;
    font-weight: bold;
}
header .logo .ametyst{
    color: #9b59b6;
}
header nav{
    float: right;
}
header nav ul{
    list-style-type: none;
}
header nav li{
    float:left;
}
header nav li a{
    display: block;
    margin: 15px 5px;
    line-height: 40px;
    padding: 0 10px;

    text-decoration: none;
    border: 1px solid #9b59b6;
    border-radius: 20px;
    color: #fff;

}
header nav li a:hover{
    background-color: #9b59b6;
}
section{
    padding-top: 40px;
    padding-bottom: 40px;
}
section.grey{
    background-color: #e8e8e8;
}
section.home{
    color: #fff;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/code.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
section.home .container{
    position: relative;
    height: 100%;
}
section.home .container article{
    position:absolute;
    top: 70%;
    transform:translate(0, 50%);
    width: 100%;
}
section.home .container article p,
section.home .container article a{
    text-decoration: none;
    color: #fff;
    float: left;
    width: 25%;
    text-align: center;
}

.container{
    width:80%;
    margin: 0 auto;
}
section h1{
    text-transform:uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 150%;
    font-weight: 300;
    text-align: center;
}
article{
    margin-top: 20px;
}
article h2{
    font-size: 100%;
}
span.bold{
    font-weight: bold;
}
.zdjeciePortretowe img{
    padding-top: 70px;
    float:left;
    width:25%;
    height:auto;
}
.daneKontaktowe{
    padding-top: 70px;
    float:left;
    width:75%;
    padding-left: 20px;
    padding-right: 20px;
}
.daneKontaktowe h1{
    font-size: 200%;
    border: transparent;
}
.clear{
    clear: both;
}
.margin{
    height: 90px;
}
